<nav id='menu'>
  <ul>
    <li id='who'><a data-scroll-to='#intro'>成都飞哥</a></li>
    <li id='news'><a data-scroll-to='#poster'>新闻追踪</a></li>
    <li id='con'><a data-scroll-to='#contact'>联系飞哥</a></li>
  </ul>
</nav>