<nav id='menu'>
  <ul>
    <li id='who'><a class="dscroll" data-scroll-to='#intro'>成都飞哥</a></li>
    <li id='news'><a class="dscroll" data-scroll-to='#poster'>新闻追踪</a></li>
    <li id='con'><a class="dscroll" data-scroll-to='#contact'>联系飞哥</a></li>
    <li id='ucheke'><a href="http://www.ucheke.com">有车客</a></li>
  </ul>
</nav>