<!DOCTYPE html>
<html>
<head>
  <title>成都美食飞哥</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
  <meta http-equiv='Content-Language' content='zh-CN'>
  <meta name='title' content='成都美食飞哥,吃喝玩乐,飞哥欢乐派,有车客'>
  <meta name='keywords' content='成都美食飞哥,吃喝玩乐,飞哥欢乐派,有车客'>
  <meta name='description' content='成都美食飞哥,吃喝玩乐,飞哥欢乐派,有车客'>
  
</head>
<body>

<%= yield %>

</body>
</html>
